# Modelli
*.pt
*.bin

# Logs e cache
*.json
__pycache__/
embeddings_cache/
results/
submission/

# Altri file
cuda-keyring_1.1-1_all.deb

# Script di test o temporanei
clip_finetuned_improved.pt
clip_gem_arcface_trained.pt
cuda-keyring_1.1-1_all.deb
embeddings_cache/
models/3_clip_gem.py
models/4_clip_gem_arcface.py
models/5_clip_gem_arcface_center.py
models/7_clip_arcface_center.py
models/MINESTRONE_FINALE.py
models/__pycache__/
models/clip_arcface_no_gem_trained.pt
models/clip_baseline_frozen.pt
models/clip_finetuned_ablation.pt
models/clip_gem_ablation.pt
models/clip_gem_arcface_ablation.pt
models/clip_gem_arcface_center_trained.pt
models/clip_nogem_optimized.py
models/clip_train_2.py
models/clip_train_final.py
models/ensemble_facenet_awm.py
models/facenet26.py
models/facenet_arcface_trained.pt
models/facenet_baseline_frozen.pt
models/logs_baseline_frozen.json
models/logs_facenet_frozen.json
models/model3.py
models/model_facegoogle.py
models/model_facegoogle_ft.py
models/model_facenet_2_save_emb.py
models/multiscale_clip_cosface.pt
models/submission_arcface.py
models/submission_arcface_no_gem.py
models/submission_arcface_no_gem2.py
models/submission_baseline_frozen.py
models/submission_clip_zero_shot.py
models/submission_facenet_arcface.py
models/submission_facenet_frozen.py
models/submission_finetuned_ablation.py
models/submission_gem_ablation.py
models/submission_gem_arcface.py
models/submission_gem_arcface_ablation.py
models/submission_gem_arcface_center.py
models/submission_gem_arcface_vit_h.py
models/submission_improved.py
models/submission_multiscale.py
results/
submission/
submission_ensemble.py
submission_ensemble_26.py
submission_ensemble_27.py
submission_ensemble_enhanced.py